#page-left-twitter-wrapper {
  border: 1px solid #DBDBDB;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 25px;
  margin-bottom: 25px;
}
.tweet {
  padding: 5px;
}
.twitterLogo {
  width: 100px;
  height: 100px;
  float: right;
}
