<div id="page-left-twitter-wrapper">
  <img class="twitterLogo" src='/assets/img/Twitter_Logo_Blue.png'>
  <h2>Tweets from Växjö</h2>
  <p>What are people talking about in Växjö </p>
  <hr>


  <div *ngFor="let tweet of tweets" class="page-left-twitter-wrapper">

    <div class="tweet">

      <div class="tweet_image">
        <a href="http://twitter.com/{{tweet.user.screen_name}}" target="_blank">
          <img src="{{tweet.user.profile_image_url}}" width="48" height="48"></a>
      </div>
      <div class="tweet_screen_name">
        <p class="tweet_name">{{tweet.user.name}}</p>
        <a href="http://twitter.com/{{tweet.user.screen_name}}" target="_blank">
          @{{tweet.user.screen_name}}
        </a>

      </div>
      <div class="tweet_right">

        <div class="tweet_text">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}"
             target="_blank">
          {{tweet.text}}
          </a>
          <div class="tweet_date">
              {{tweet.created_at.split(' ')[2] + " " + tweet.created_at.split(' ')[1] + " " + tweet.created_at.split(' ')[5] + " at " + tweet.created_at.split(' ')[3]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





