<div id="page-left-trains-wrapper">
  <h2>Trains from Växjö station</h2>
  <p>Where do you want to travel?</p>
  <hr>
  <input #stationInput placeholder="Kalmar" value="Kalmar" style="padding: 10px 5px; width: 100%;">
  <button (click)="onSearch(stationInput)">Search</button>

  <div #target style="margin-top: 20px;">

    <h3 *ngIf="noResult" style="margin-bottom: 15px;">No trains found...</h3>
    <p *ngIf="noResult" > Please enter another station. </p>

  </div>

    <div *ngFor="let departure of updatedDepartures" class="page-left-trains-station-wrapper">
      <h3>Train: {{departure.train}}</h3>
      <p><b>Departure: {{departure.departure}}</b></p>
      <p><b>Provider: {{departure.type}}</b></p>
    </div>
  </div>
