* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333333;
}

hr {
	background-color: #333333;
	width: 50%;
	height: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-style: none;
}

button {
	border: 1px solid #DBDBDB;
	padding: 10px 5px;
	margin-top: 15px;
	width: 100%;
	background-color: #eff0ef;
}

h2 {
	margin-bottom: 15px;
	font-size: 22px;
}

p {
	font-size: small;
	color: #666666;
	line-height: 140%;
}

a {
	color: #333333;
}

input {
	margin-bottom: 15px;
}

nav {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

nav > ul > li > a {
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

nav > ul > li > a > .caret {
  border-top: 4px solid #aaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;

  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

nav > ul > li:hover {
  background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

nav > ul > li > div {
  background-color: rgb( 40, 44, 47 );
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 165px;
  visibility: hidden;
  z-index: 100;

  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

nav > ul > li > div ul > li {
  display: block;
}

nav > ul > li > div ul > li > a {
  color: #fff;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
  background-color: rgba( 255, 255, 255, 0.1);
}

nav > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
}
