#page-right-wrapper {
	width: 350px;
	position: absolute;
	/*top: 25px;*/
	right: 25px;
}

#page-bottom-wrapper {
	position: relative;
	bottom: 0px;
	width: 100%;
}

#page-left-wrapper {
	width: 350px;
	position: absolute;
	left: 25px;
	/*top: 25px;*/
}

.loader {
	width: 100%;
	height: 50px;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 25px;
}

.places h3 {
  text-align: center;
}

.places img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #dddddd;
  /*box-shadow: 5px 5px #DBDBDB;*/
  padding: 5px;
}

.places > p > span {
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}


