<div style="background-color: rgba(255, 255, 255, 0.85098);
 border: 1px solid rgb(219, 219, 219); padding: 25px; text-align: center;">
  <h2>Want to explore places?</h2>
  <p>Select places category below.</p>
  <div>
    <select (change)="onSelectChange()" [(ngModel)]="category">
      <option [ngValue]="null" disabled>Choose category of places</option>
      <option *ngFor="let category of categories">
        {{ category }}
      </option>
    </select>
  </div>
</div>
<agm-map (mapClick)="closeWindow()" [latitude]="DEFAULT_MAP_LAT" [longitude]="DEFAULT_MAP_LNG" [zoom]="DEFAULT_MAP_ZOOM">
  <agm-marker (markerClick)=selectMarker(infoWindow) *ngFor="let place of placesMarkers; let i = index"
              [latitude]="place.lat"
              [longitude]="place.lang"
              [title]="place.title"
              [iconUrl]="place.icon"
              [visible]="true">


    <agm-info-window #infoWindow>
      <div class="places">
        <h3>{{place.title}} ({{place.cat}})</h3>
        <img src="{{place.img}}" alt="{{place.title}}">
        <p><span>Address: </span>{{place.addr}}</p>
        <p><span>Phone: </span> {{place.phone}}</p>
        <p><span>Opening Hours:</span></p>
        <p style="margin-left: 10px;" *ngFor="let hour of place.hours">
          {{hour}}
        </p>
      </div>
    </agm-info-window>
  </agm-marker>

</agm-map>
