<div id="page-wrapper">

  <div id="page-middle-wrapper">
    <app-places-map></app-places-map>
  </div>

  <div id="page-left-wrapper">
    <div id="page-left-trains-wrapper">
      <app-trains></app-trains>
    </div>
  </div>

  <div id="page-right-wrapper">
    <div id="page-left-twitter-wrapper">
      <app-twitter></app-twitter>
    </div>
  </div>
</div>
